@charset "utf-8";
/* CSS Document */

body {
	
	margin: 0;
	padding: 0;
	background-image: url(../Images/body_bg.png);
	font-family: Arial, Helvetica, sans-serif;

}

a {

	text-decoration: none;
	color: #0CF;
	
}

a:hover {

	color: #09C;
	
}

a:active {

	color: #069;

}

#container {

	width: 960px;
	height: auto;
	margin: 0 auto;
	padding: 0;
	
}

#header {
	
	margin: 10px auto;
	padding: 0;
	border: 0;
	border-radius: 200px;
	width: 950px;
	
}

#logo {
	
	display: block;
	margin: 0 auto;
	padding: 0;

}

#nav_bar {
	
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 15px;
	
	margin: 10px auto;
	padding: 0;
	border: 5px solid #CFF;
	border-radius: 40px;
	
	
	width: 900px;
	background-color: #FFF;
	
}

#arrow_down1 {

	position: absolute;
	padding-left: 330px;
	top: 459px;
	
}

#arrow_down2 {

	position: absolute;
	padding-left: 706px;
	top: 459px;
	
}

#nav_bar a {

	text-decoration: none;
	color: #000;
	
}


#nav_bar ul {
	
	list-style-type: none;
	margin: 0 auto;
	padding: 15px;
	text-align: center;
	width: 900px; 
	
	
}

#nav_bar li {
	padding: 0;
	width: 120px;
	display: inline-block;
}

#nav_bar ul li ul {
	
	position: absolute;
	width: 120px;
	top: 470px;
}

#nav_bar ul li ul li {
	
	background-color: #FFF;
	border: 1px solid #CFF;
	border-radius: 40px;
	padding: 10px 0;
	margin: 0;
	list-style: none;
	list-style-position: inside;
	
}


#content {

	margin: 10px;
	padding: 50px 60px;
	border: 5px solid #CFF;
	border-radius: 50px;
	background-image: url(../Images/content_bg.png); 
	min-height: 200px;
	height: auto;
	width: 810px;
	max-width: 810px;
		
}

#slideshow_container {
	
	min-height: 560px;

}

#index_slideshow {

	position: absolute; 
	top: 520px;
	margin: 0 8px;


}

.index_images {

	position: absolute;
	top: 495px;
	
}


#welcome {

	position: absolute;
	top: 800px;
	z-index: 300;
	padding: 0 34px;
	
}


#flavours_table {

	margin: 0 auto;	
	
}

#flavours_table td {

	width: 150px;
	max-width: 150px;
	display: inline-block;
	text-align: center;
	overflow: hidden;
	
}


#event_whale {

	padding-left: 25px;	
}

#events_table {

	padding-left: 75px;
	
}

#events_table td {
	
	padding: 10px 15px;
	
}

#events_table td:first-child {

	padding-left: 15px;
	text-align: right;
	font-style: italic;
	
}


#questions_image {

	position: relative;
	
}


#questions_ice_cream {
	
	position: absolute;
	left: 700px;
	top: -480px;
	
	z-index: 5;
	
}

#questions_ice_cream_text {
	
	position: absolute;
	top: -540px;
	left: 520px;
	z-index: 5;
	
}

#question_form {


	position: absolute;
	top: 710px;
	padding-left: 440px;
	color: rgba(81, 195, 224, 0.79);

}

#question_form fieldset{

	
	background: rgba(234, 252, 255, 0.78);
	background: -webkit-linear-gradient(rgba(255, 255, 255, 0.78), rgba(234, 252, 255, 0.78)); 
    background: -o-linear-gradient(rgba(255, 255, 255, 0.78), rgba(234, 252, 255, 0.78)); 
    background: -moz-linear-gradient(rgba(255, 255, 255, 0.78), rgba(234, 252, 255, 0.78));
    background: linear-gradient(rgba(255, 255, 255, 0.78), rgba(234, 252, 255, 0.78)); 
	
	border-radius: 20px;
	border: 0;
	width: 360px;
	margin: 0 auto;
	
	padding-top: 40px;
	
	-webkit-box-shadow: 0 0 8px rgba(3, 201, 251, 0.29);
	-moz-box-shadow: 0 0 8px rgba(3, 201, 251, 0.29);
	box-shadow: 0 0 8px rgba(3, 201, 251, 0.29);

}


#question_form label{

	padding: 20px;

}

#question_form input{

	width: 170px;
	margin-left: 20px;
	
	border-radius: 20px;
	padding: 8px 10px;
	opacity: 0.8;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	-webkit-box-shadow: 0 0 8px rgba(3, 201, 251, 0.29);
	-moz-box-shadow: 0 0 8px rgba(3, 201, 251, 0.29);
	box-shadow: 0 0 8px rgba(3, 201, 251, 0.29);
	border: none;

}

#question_form textarea {

	resize: none;
	width: 170px;
	margin-left: 20px;
	
	border-radius: 20px;
	padding: 8px 10px;
	opacity: 0.8;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	
	-webkit-box-shadow: 0 0 8px rgba(3, 201, 251, 0.29);
	-moz-box-shadow: 0 0 8px rgba(3, 201, 251, 0.29);
	box-shadow: 0 0 8px rgba(3, 201, 251, 0.29);
	border: none;
	
}

#question_form input[type=submit] {

	width: 100px;
	margin-top: 20px;
	margin-left: 30px;
	
	background-color: #d6ffff;
	background-image: -moz-linear-gradient(146deg, #ffffff, rgb(230, 249, 254));
	background-image: -ms-linear-gradient(146deg, #ffffff, rgb(230, 249, 254));
	background-image: -o-linear-gradient(146deg, #ffffff, rgb(230, 249, 254));
	background-image: -webkit-linear-gradient(146deg, #ffffff, rgb(230, 249, 254));
	background-image: linear-gradient(146deg, #ffffff, rgb(230, 249, 254));
	
	-webkit-box-shadow: 0 0 8px rgba(3, 201, 251, 0.29);
	-moz-box-shadow: 0 0 8px rgba(3, 201, 251, 0.29);
	box-shadow: 0 0 8px rgba(3, 201, 251, 0.29);
	border: none;
	
	color: rgba(81, 195, 224, 0.9);
	font-weight: bold;
}	

#question_form p {

	padding: none;
	padding-left: 40px;
	margin-top: 5px;
	font-size: 12px;
	
}


#question_form div{

	padding: 10px;

}

#feedback_container {

	position: relative;
	min-height: 880px;	
	width: 900px;
	
}

#feedback_fox {

	position: absolute;
	left: 150px;	
	z-index: 10;
	
}

#feedback_form {


	position: absolute;
	top: 410px;
	left: 210px;
	color: rgba(81, 195, 224, 0.79);

}

#feedback_form fieldset{

	
	background-color: #FF9138;
	background-image: -moz-linear-gradient(146deg, #ffffff, rgba(255, 207, 168, 0.87));
	background-image: -ms-linear-gradient(146deg, #ffffff, rgba(255, 207, 168, 0.87));
	background-image: -o-linear-gradient(146deg, #ffffff, rgba(255, 207, 168, 0.87));
	background-image: -webkit-linear-gradient(146deg, #ffffff, rgba(255, 207, 168, 0.87));
	background-image: linear-gradient(146deg, #ffffff, rgba(255, 207, 168, 0.87));
	
	border-radius: 20px;
	border: 0;
	width: 360px;
	margin: 0 auto;
	
	padding-top: 50px;
	
	-webkit-box-shadow: 0 0 8px rgba(255, 207, 168, 0.87);
	-moz-box-shadow: 0 0 8px rgba(255, 207, 168, 0.87);
	box-shadow: 0 0 8px rgba(255, 207, 168, 0.87);

}


#feedback_form label{

	padding: 20px;

}


#feedback_form input{

	width: 280px;
	margin-left: 20px;
	
	border-radius: 20px;
	padding: 8px 10px;
	opacity: 0.8;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	-webkit-box-shadow: 0 0 8px rgba(255, 151, 66, 0.91);
	-moz-box-shadow: 0 0 8px rgba(255, 151, 66, 0.91);
	box-shadow: 0 0 8px rgba(255, 151, 66, 0.91);
	border: none;

}

#feedback_form #name {

	width: 180px

}

#feedback_form textarea {

	resize: none;
	width: 280px;
	margin-left: 20px;
	
	border-radius: 20px;
	padding: 8px 10px;
	opacity: 0.8;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	
	-webkit-box-shadow: 0 0 8px rgba(255, 151, 66, 0.91);
	-moz-box-shadow: 0 0 8px rgba(255, 151, 66, 0.91);
	box-shadow: 0 0 8px rgba(255, 151, 66, 0.91);
	border: none;
	
}

#feedback_form input[type=submit] {

	width: 160px;
	margin-top: 20px;
	margin-left: 100px;
	
	background-color: #FFCFA8;
	background-image: -moz-linear-gradient(146deg, rgba(255, 207, 168, 0.87), #FF9138);
	background-image: -ms-linear-gradient(146deg, rgba(255, 207, 168, 0.87), #FF9138);
	background-image: -o-linear-gradient(146deg, rgba(255, 207, 168, 0.87), #FF9138);
	background-image: -webkit-linear-gradient(146deg, rgba(255, 207, 168, 0.87), #FF9138);
	background-image: linear-gradient(146deg, rgba(255, 207, 168, 0.87), #FF9138);
	
	-webkit-box-shadow: 0 0 8px rgba(255, 151, 66, 0.91);
	-moz-box-shadow: 0 0 8px rgba(255, 151, 66, 0.91);
	box-shadow: 0 0 8px rgba(255, 151, 66, 0.91);
	border: none;
	
	color: #9E3700;
	font-weight: bold;
}	

#feedback_form p {

	padding: none;
	text-align: center;
	margin-top: 5px;
	font-size: 12px;
	color: #9E3700;
	
}


#feedback_form div{

	padding: 10px;

}





#faq_cat {
	
	padding-left: 40px;
	
}

#faq_table {

	padding-left: 70px;	
	
}



#faq_table .question {

	font-weight: bold;
	color: #C36;
	
}

#faq_table td {
	
	padding: 10px;	
	
}


#question_form {
}


#footer {
	
	margin: 20px auto;
	padding-top: 15px;
	border: 5px solid #CFF;
	border-radius: 50px;
	background-color: #FFF;
	height: 40px;
	width: 94%;
	text-align: center;
	
		
}


.centered_text {

	text-align: center;
	
}

.center_image {
	
	display: block;
	margin: 0 auto;
	
}